[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggrank"]
	path = ggrank
	url = https://github.com/thinkdenominator/ggrank
[submodule "gtregression"]
	path = gtregression
	url = https://github.com/thinkdenominator/gtregression
[submodule "gtstats"]
	path = gtstats
	url = https://github.com/thinkdenominator/gtstats
