[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gtregression"]
	path = gtregression
	url = https://github.com/thinkdenominator/gtregression
